<ion-view view-title="{{ 'Change Password' | translate }}" hide-back-button="true">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="logout()">
      Logout
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card padding">
      <form novalidate="novalidate" on-valid-submit="changePassword(currentPassword, newPassword)">
        <label class="item item-input validated">
          <input type="password" ng-model="currentPassword" name="password" required="required" placeholder="{{ 'current password' | translate }}" translate>
          <i class="icon ion-alert-circled error"></i>          
        </label>
        <label class="item item-input validated">
          <input type="password" ng-model="newPassword" name="password" required="required" placeholder="{{ 'new password' | translate }}" translate>
          <i class="icon ion-alert-circled error"></i>          
        </label>
        <label class="item item-input validated">
          <input type="password" ng-model="newPasswordCtrl" name="password" required="required" placeholder="{{ 'repeat new password' | translate }}" translate>
          <i class="icon ion-alert-circled error"></i>          
        </label>
        <button type="submit" class="button button-block button-dark activated" translate>
          Change
        </button>
      </form>
    </div>
  </ion-content>
</ion-view>