<ion-view view-title="{{ 'Groups' | translate }}" hide-back-button="true">
  <ion-content>
    <div class="list card" ng-repeat="group in groups">
      <div class="item item-icon-left dark">
        <i class="icon {{group.context-icon}}"></i>
        <h2>{{group.name}}</h2>
        <p>{{group.description}}</p>
      </div>
      <div class="item item-image">
        <img ng-src="{{group.picture}}">
      </div>
      <div class="item item-icon-left balanced">
        <i class="icon ion-ios-information-outline"></i>
        <p>{{group.notes}}</p>
      </div>
    </div>
    <center>
      <ion-spinner icon="spiral" ng-hide="groups.length"></ion-spinner>
    </center>
  </ion-content>
</ion-view>