<ion-view view-title="{{ 'Groups' | translate }}" hide-back-button="true">
  <ion-content>
    <div class="list card" ng-repeat="group in groups" on-finish-render>
      <div class="row">
        <div class="col col-90 col-center">
          <div class="item item-icon-left dark">
            <i class="icon {{groups.getFkObject(group.$id).context_icon}}"></i>
            <h2>{{groups.getFkObject(group.$id).name}}</h2>
            <p>{{groups.getFkObject(group.$id).description}}</p>
          </div>
        </div>
        <div class="col col-center tab-item" ng-click="openGroup(group.$id)">
          <i class="icon ion-chevron-right"></i>
        </div>
      </div>
      <div class="item item-image" ng-hide="!groups.getFkObject(group.$id).picture">
        <img ng-src="{{groups.getFkObject(group.$id).picture}}">
      </div>
      <div class="item item-icon-left balanced">
        <i class="icon ion-ios-information-outline"></i>
        <p>{{groups.getFkObject(group.$id).notes}}</p>
      </div>
    </div>
    <center>
      <br/>
      <ion-spinner icon="spiral" ng-hide="finishRender"></ion-spinner>
    </center>
  </ion-content>
</ion-view>