<ion-view cache-view="false" view-title="{{ 'Members' | translate }}" hide-back-button="true">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="{{ 'Search' | translate }}" ng-model="search.name" />
      </label>
    </div>  
    <!-- ion-list -->
      <div class="list card" ng-repeat="member in members | filter:search" on-finish-render>
        <div class="item item-avatar">
          <img ng-src="{{member.picture}}">
          <h2>{{member.name}}</h2>
          <p>place for details</p>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon ion-thumbsup"></i>
            Like
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-chatbox"></i>
            Comment
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-share"></i>
            Share
          </a>
        </div>
      </div>
    <!-- /ion-list -->
    <!-- ion-infinite-scroll>
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll -->    
    <center>
      <br/>
      <ion-spinner icon="spiral" ng-hide="finishRender"></ion-spinner>
    </center>
  </ion-content>
</ion-view>
