<ion-view view-title="{{ 'Login' | translate }}" hide-back-button="true" hide-nav-bar="true" class="login">
  <ion-content class="padding">
    <div class="list">
      <img src="img/logo1.png" class="logo">
      <!-- div class="logoText">
        Bulkaria Estudiantil
      </div -->
    </div>
    <div class="list card padding">
      <form novalidate="novalidate" on-valid-submit="signIn(user)">
        <label class="item item-input validated">
          <input type="email" ng-model="user.email" required="required" name="email" placeholder="{{ 'email' | translate }}" translate>
          <i class="icon ion-alert-circled error"></i>        
        </label>
        <label class="item item-input validated">
          <input type="password" ng-model="user.password" name="password" required="required" placeholder="{{ 'password' | translate }}" translate>
          <i class="icon ion-alert-circled error"></i>          
        </label>
        <button type="submit" class="button button-block button-dark activated" translate>
          Sign In
        </button>
      </form>
      <center><h4 translate>Or singn in with</h4></center>      
      <center>
      <button ng-click="socialSignIn('facebook')" class="button button-small button-positive icon-left ion-social-facebook activated">
        &nbsp;&nbsp;<b>Facebook</b>
      </button>
      <button ng-click="socialSignIn('google')" class="button button-small button-assertive icon-left ion-social-googleplus activated">
        &nbsp;&nbsp;<b>Google+</b>
      </button>
      <button ng-click="socialSignIn('twitter')" class="button button-small button-calm icon-left ion-social-twitter activated">
        &nbsp;&nbsp;<b>Twitter</b>
      </button>
      </center>
    </div>
    <div class="list" style="text-align:center">
      <button ng-click="signUp()" class="button button-small button-outline icon-left ion-person-add button-dark" translate>
        Create New Account
      </button>
      <button ng-click="forgotPassword()" class="button button-small button-outline icon-left ion-ios-help button-dark" translate>
        Forgot password
      </button>
    </div>
  </ion-content>
</ion-view>