<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">Reset Password</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input validated">
        <input ng-model="resetEmail" type="email" placeholder="Email Address" required="required">
        <i class="icon ion-alert-circled error"></i>
      </label>
      <button class="button button-block button-dark activated" ng-click="resetPassword(resetEmail)">Send email</button>
    </div>
  </ion-content>
</ion-modal-view>