<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title" translate>Reset Password</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()" translate>Cancel</button>
  </ion-header-bar>
  <ion-content class="padding">
    <form novalidate="novalidate" on-valid-submit="resetPassword(resetToEmail)">
    <div class="list">
      <label class="item item-input validated">
        <input ng-model="resetToEmail" type="email" placeholder="{{ 'Email Address' | translate }}" required="required">
        <i class="icon ion-alert-circled error"></i>
      </label>
      <button type="submit" class="button button-block button-dark activated" translate>Send email</button>
    </div>
    </form>
  </ion-content>
</ion-modal-view>