<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title" translate>Create New Account</h1>
    <button class="button button-clear button-primary" ng-click="hideModal('cancel')" translate>Cancel</button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <input ng-model="user.email" type="text" placeholder="{{ 'Email Address' | translate }}" />
      </label>
      <label class="item item-input">
        <input ng-model="user.firstName" ng-change="user.nickName=user.firstName + ' ' + (user.lastName || '')" type="text" placeholder="{{ 'First Name' | translate }}" />
      </label>
      <label class="item item-input">
        <input ng-model="user.lastName" ng-change="user.nickName=(user.firstName || '') + ' ' + user.lastName" type="text" placeholder="{{ 'Last Name' | translate }}" />
      </label>
      <label class="item item-input">
        <input ng-model="user.nickName" type="text" placeholder="{{ 'Nickname' | translate }}" />
      </label>
      <div class="item item-divider" translate>Gender</div>      
      <ion-radio class="item" ng-model="user.gender" ng-value="'male'" >{{ 'Male' | translate }}</ion-radio>
      <ion-radio class="item" ng-model="user.gender" ng-value="'female'" >{{ 'Female' | translate }}</ion-radio>
      <ion-radio class="item" ng-model="user.gender" ng-value="'other'" >{{ 'Other' | translate }}</ion-radio>
      <button class="button button-block button-dark activated" ng-click="hideModal('ok')" translate>Create</button>
    </div>
  </ion-content>
</ion-modal-view>