.pane {
    background-color: lightgrey;
}

@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}

@-webkit-keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}

.login {
  background: url('../img/imagen-turismo-blur.png');
  background-position: 0px 0px;
  background-repeat: repeat-x;
  background-size:cover;
  -webkit-animation:animatedBackground 80s linear infinite;
  -moz-animation:animatedBackground 80s linear infinite;
  -ms-animation:animatedBackground 80s linear infinite;
  -o-animation:animatedBackground 80s linear infinite;
  animation:animatedBackground 80s linear infinite;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
}

.modal {
  top: 0 ;
  bottom: 0 ; 
  left: 0 ;
  right: 0 ;
  width: 100% ;
}

.card {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;  
}

.logo {
  display: block;
  position: relative;
  width: 30%;
  margin: 0 auto;
}

.logoText {
  text-align: center;
  font-size: 28px;
  font-family: fantasy;
}

.item-note {
  font-size: 10px;
  margin-top: -22px;
  margin-right: -35px;
}

.textCenter {
  text-align: center;
}

// Customs alert
.custom-alert .popup-body {
  overflow: auto;
}

.custom-alert .popup-head {
  border-color: #111;
}

// Errors
form i.icon.error {
  color: #ef4e3a;
}

form input + i.icon.error {
  display: none;
  margin-left: 8px;
}

form.ng-submitted input.ng-invalid + i.icon.error {
  display: block;
}

form .has-error {
  border-left: 5px solid #cc2511;
}

form .has-success {
  border-left: 5px solid #3d8b3d;
}

form.ng-submitted input.ng-valid + i.icon.error {
  display: none;
}

